header{display:block; clear:both; background:cornflowerblue; padding:5px; text-align:center; color:white; opacity:0.5;}
footer{display:block; 
    clear:both; 
    background:cornflowerblue;
    padding:5px; 
    text-align:center; 
    color:white;
    opacity:0.5; 
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;}
nav{display:block; float:left; width:18%; height:50%;; background:cornflowerblue; padding:5px; opacity:0.5;}
article {display:block; float:right; width:80%; height:50%; padding:5px;color:white;}
ul{list-style-type: none;}
h1{color:blue; text-align:center;}
h3{color:royalblue; text-align:center;}